<div class="d-flex my-3" style="margin-left: -0.25rem; margin-right: -0.25rem">
    <button type="button" class="btn btn-secondary m-1" (click)="onImportCsv()">
        Import CSV
    </button>
    <button type="button" class="btn btn-success m-1" (click)="onExportCsv()">
        Export CSV
    </button>
</div>
<app-table
    [data]="data$ | async"
    [page]="paginator.page"
    [rowsPerPage]="paginator.rowsPerPage"
    [rowsPerPageOptions]="paginator.rowsPerPageOptions"
    [total]="paginator.total"
    [loading]="loading"
    (pageChange)="onPageChange($event)"
    (statusChange)="onStatusChange($event)"
></app-table>
